/*Track Template*/
*{
}

.track-template{
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-family: helvetica;
  display: block;
  width: 100%;
  background-color: #cccccc;
}

.track-template:hover{
  background-color: #888888;
}
.template-left{
  text-align: center;
  display: inline-block;
  width: 20%;
}

.template-left img{
  height: 40%;
  width: 40%;
}

.album-name{
}

.template-right {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  width: 70%;
}
.track-name{
  font-size: 36px;
}
.track-length{
}
