body{
  font-family: 'Montserrat', sans-serif;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #0b4072;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0b4072;
}


#about {
  background: linear-gradient(#0B4072,#C0C8D6);
}
nav a{
  top: 50px;
  left: 10px;
  color: #D5D7DA;
  font-size: 35px;
  text-decoration: none;*/
  margin-top: : 210px ;
  text-shadow: 4px 4px 4px #000000;
  position: relative;
}
#au {
  width: 80%;
  min-width: 474px;
  height: 100%;
  margin: 3% auto;
  font-weight: lighter;
}

.members {
  display: inline-block;
  width: 24%;
  text-align: center;
}

#au h1 {
  color: #D5D7DA;
  text-align: center;
  font-size: 2em;
  margin-bottom: 2%;
  text-shadow: 4px 4px 4px #000000;
}

#au h2 {
  color: #D5D7DA;
  font-size: 1.6em;
  text-shadow: 2px 3px 4px #21223D, #21223D 2px 3px 4px;
}

#au img{
  border-radius: 50%;
  width: 100%;
  height: 350px;
}

#au a {
  color: #21223D;
  text-decoration: none;
}

#au a:hover {
  text-decoration: underline;
}
#au #home-link a {
  color: #21223D;
}
#au #home-link {
  margin-top: 2%;
  font-family: Comfortaa, cursive;
  font-size: 3em;
  display: block;
  width: 100%;
  text-align: center;


.clip-text {
  font-size: 90px;
  font-weight: bold;
  position: relative;
  top: 10px;
  display: inline-block;
  /*margin: .25em;*/
  /*padding: .5em .75em;*/
  text-align: center;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.clip-text_one {
  background-image:url(https://media.giphy.com/media/SotJCbDWOnnWM/giphy.gif);
  background-size: cover;
     -webkit-text-stroke: 2px white;
  -webkit-animation:anim 60000s infinite linear;
  -moz-animation:anim 60000s infinite ease-in;
  -ms-animation:anim 60000s infinite ease-in;
  animation:anim 60000s infinite ease-in;
}

@-webkit-keyframes anim
{0%{background-position: top;}50%{background-position: bottom;}100%{background-position: top;}}
@-moz-keyframes anim
{0%{background-position: top;}50%{background-position: bottom;}100%{background-position: top;}}
@-ms-keyframes anim
{0%{background-position: top;}50%{background-position: bottom;}100%{background-position: top;}}
@keyframes anim
{0%{background-position: top;}50%{background-position: bottom;}100%{background-position: top;}}


@media screen and (max-width: 640px){
  .clip-text{
    font-size: 80px;
  }
}
